<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>My Account 2.0</title>
	<link rel="shortcut icon" href="">
	<link rel="stylesheet" type="text/css" href="front-end/lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="front-end/css/style.css">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body ng-app="bankAccount" ng-controller="appController as appCtrl">
  <div class="container-fluid"> <!-- main-container -->
	  <div class="row main-row"> <!-- main-row -->
		<header>
		   <div class="center-block col-md-12 col-lg-10 floatNone cf"> <!-- header-col -->
		    	<div class="header-col"></div>
		    	<h1 class="logo1">BNAT <span class="logo2">Accounts</span></h1>
		    </div> <!-- header-col -->

			<div class="nav-background gradient">
			    <div class="center-block col-md-12 col-lg-12 floatNone"> <!-- col-md-12 col-lg-12 -->
					<nav ng-controller="navbarController as navbar" class="navbar navbar-default gradient">
					  	<div class="container-fluid">
						  	<div class="col-lg-10 center-block floatNone">

								<ul class="nav navbar-nav">
									<li ng-hide="isSignedIn"><a ng-href="#/" class="active">Inicio</a></li>
									<li ng-show="isSignedIn"><a ng-href="#/summary/{{navbar.userId}}">Resumen</a></li> 
									<li ng-show="isSignedIn"><a ng-href="#/add/{{navbar.userId}}">Agregar Movimiento</a></li> 
								</ul>

								<ul class="nav navbar-nav navbar-right">
									<li ng-show="isSignedIn" ng-click="navbar.toProfile()"><a href><span class="glyphicon glyphicon-user"></span> Mi Perfil</a></li>
									<li ng-hide="isSignedIn"><a ng-href="#/newaccount"><span class="glyphicon glyphicon-user"></span> Registrar Cuenta</a></li>
									<li ng-show="isSignedIn"><a href="#/" ng-click="navbar.logout()"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
								</ul>
							</div>
					  	</div>
					</nav>
			   	</div> <!-- col-md-12 col-lg-12 -->
			</div> <!-- nav-background -->
		</header>

    	<div class="center-block col-md-12 col-lg-10 floatNone"> <!-- main-col -->
    		<main class="views" ng-view>
    			
    		</main>
	    </div> <!-- main-col -->

	  </div> <!-- main-row -->
  </div> <!-- main-container -->

	<script src="front-end/lib/angular.min.js"></script>
	<script src="front-end/lib/angular-route.min.js"></script>
	<script src="front-end/lib/angular-cookies.min.js"></script>
	<script src="front-end/lib/angular-resource.min.js"></script>

	<script src="front-end/logic/appRoute.js"></script>
	
	<script src="front-end/logic/controllers/appController.js"></script>
	<script src="front-end/logic/controllers/navbarController.js"></script>
	<script src="front-end/logic/controllers/homeController.js"></script>
	<script src="front-end/logic/controllers/newAccountController.js"></script>
	<script src="front-end/logic/controllers/summaryController.js"></script>
	<script src="front-end/logic/controllers/detailController.js"></script>
	<script src="front-end/logic/controllers/addController.js"></script>
	<script src="front-end/logic/controllers/userProfileController.js"></script>
	<script src="front-end/logic/controllers/refreshController.js"></script>
	
	<script src="front-end/logic/services/formService.js"></script>
	<script src="front-end/logic/services/localStorageService.js"></script>
	<script src="front-end/logic/services/transactService.js"></script>
	<script src="front-end/logic/services/userService.js"></script>
	<script src="front-end/logic/services/idService.js"></script>
	
	<script src="front-end/logic/directives/compareTo.js"></script>
</body>
</html>


