@font-face {
    font-family: GothamLight;
    src: url(fonts/gotham_light.eot);
    src: url(fonts/gotham-light.woff);
}

@font-face {
    font-family: AllerLt;
    src: url(fonts/Aller_Lt.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(fonts/Roboto-Light.ttf);
}


@font-face {
    font-family: Masque;
    src: url(fonts/masque.ttf);
}

html, body{
	height: 100%;
}

body{
	font-size: 15px;
	font-family: AllerLt;
	font-weight: normal
}

h1{
	font-size: 1.9em;
}

h2{
	font-size: 1.8em;
}

label{
	font-weight: normal;
}

.cf:before, .cf:after { 
  content: "";
  
  display: table
}

.cf:after {
  clear: both
}

.floatNone{
	float: none;
}

.overflow-auto{
	overflow: auto;
}

.header-col{
	background: #003f8d; /* Old browsers */
	background: -moz-linear-gradient(top,  #003f8d 0%, #003f8d 25%, #9be1fb 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #003f8d 0%,#003f8d 25%,#9be1fb 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #003f8d 0%,#003f8d 25%,#9be1fb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003f8d', endColorstr='#9be1fb',GradientType=0 ); /* IE6-9 */
	height: 70px;
	width: 15px;
	margin-top: 5px;
}

.gradient{
	background: #0075bd; /* Old browsers */
	background: -moz-linear-gradient(top,  #0075bd 0%, #0058a0 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #0075bd 0%,#0058a0 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #0075bd 0%,#0058a0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0075bd', endColorstr='#0058a0',GradientType=0 ); /* IE6-9 */
}

.logo1{
	font-family: Masque;
	color:#0C4791;
	margin: 35px 0 0 15px;
}

.logo2{
	font-family: GothamLight;
	color: #0C4791; 
	font-weight: bold;
}

.header-col, .logo1{
	float: left;
}

.navbar-default{
	border: none;
	margin-top: 10px;
}

.nav-wrapper{
	padding: 0;
	margin: 0;
	height: 50px;
}

.navbar-default .navbar-nav>li>a{
	color: #fff;
	font-size: 14px;
}

.navbar-default .navbar-nav>li>a:hover{
	color: #fff;
	background-color: #003F8D;
	border: 1px solid #003577;
}

.logIn input{
	display: block;
	width: 100%;
}

.btn50, .btn-log-in, .btn-mrg{
	color: #fff;
}

.btn50{
	width: 100%;
}

.width50{
	width: 49%;
}

/*.btn-mrg{
	width: 49%;
	color: #fff;
}*/

/*HOME*/
.btn-log-in{
	padding: 8px 25px;
	float: right;
}

.btn-log-in:hover, .app-btn:hover{
	background: #003F8D;
	color: #fff;
}

input{
	padding: 6px;
	border: 1px solid silver;
	border-radius: 5px;
}

.logIn, .add-acount, .accountDetail, .transDetail, .add-trans{
	padding: 15px;
}

h2{
	color: #0078d2;
	font-family: GothamLight;
	margin-bottom: 15px;
	margin-top: 0;
}

sub{
	float: right;
	margin-top: 12px;
}

.logIn button{
	width: 100%;
	margin-bottom: 15px;
}

.logIn button:hover{
	color: #fff;
}

.form-group{
	margin-bottom: 10px;
}

/*add account*/

.form-control{
	font-size: 15px;
}

/*SUMMARY*/

.table-responsive{
	border:none;
}

.tbSummary .table>thead>tr>th, .tbSummary .table>tbody>tr>td{
	padding: 6px;
	width: 15%;
	text-align: center;
	overflow: hidden;
}

.tbSummary .table>thead .celldesc, .tbSummary .table>tbody .celldesc{
	width: 40%;
	overflow: hidden;
}

.tbSummary .table .cellplus{
	width: 6%;
	overflow: hidden;
}

.accountDetail td a{+
	text-decoration: none;
	color:#005EA6;
}

.accountDetail td a:hover{
	color: #589BCC;
}

.accountDetail td span{
	margin-left: 15px;
}

/*validaciones*/
input.ng-invalid.ng-dirty, select.ng-invalid.ng-dirty{
	border: 1px solid #fa787e;
}

input.ng-valid.ng-dirty, select.ng-valid.ng-dirty{
	border: 1px solid #78fa89;
}

input.ng-invalid.ng-touched.ng-invalid-required, select.ng-invalid.ng-touched.ng-invalid-required{
	border: 1px solid #fa787e;
}

.add-acount h4, h4.error{
	color: #F4535A;
	margin-bottom: 15px;
	font-size: 22px;
}

h4.success{
	color: #0078d2;
	margin-bottom: 15px;
	font-size: 22px;
}

/*detalle*/


.tdetail{
	width: 65%;
	margin:0 auto;
	margin-top:35px;
	margin-bottom:35px;
	/*font-size: 18px;*/
}

.div-info{
	margin:40px 0;
}

.marginbotton40{
	margin-bottom: 1.2em;
}

.float{
	float: left;
}

.detail-h2{
	margin-left: 30px;
}

.detail-header span{
	padding: 0 10px 0 0;
}

.posit-rel{
	position: relative;
}

.post-abs{
	position: absolute;
}

.padding10{
	padding-left: 10px;
	padding-right: 10px;
}

.padding5{
	padding-left: 5px;
	padding-right: 5px;
}

.addModal, .loadModal{
	background-color: #fff;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
}

.verticalCenter{
  position: relative;
  transform: translateY(70%);
}

.width70{
	width: 70%;
	margin: 0 auto;
}

.margin-modal{
	margin-top: 2em;
	margin-bottom: 2em;
}

.overfhidden{
	overflow: hidden;
}

.tiny{
	font-size: .8em;
}

.margin-modal2{
	margin-top: 4em;
}

.tbProfile .borderTopNone{
	border-top: none;
}

.tbProfile .borderBottonNone{
	border-bottom: none;
}

.tbProfile .width40{
	width: 40%;
	padding-left: 10%;
}

.tbProfile .paddingLeft5{
	padding-left: 5%;
}

.tbProfile .padding14{
	padding-top: 14px;
	padding-bottom: 14px;
}

p.paddingLeft10{
	padding-left: 10%;
	margin-top: 10px;
	font-size: 1.5em;
}

.panel-profile{
	padding-bottom: 0;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus{
	color: #fff;
	background-color: #054491;
}

.navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>li>a:hover{
	color: #fff;
	background-color: #4183bb;
}

.select{
    width: 100%;
    height: 28px;
    padding: 4px 8px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 15px;
}


