<div class="col-lg-10 col-md-9 col-sm-12 center-block floatNone">
	<section class="add-trans gray-border">

	<div class="detail-header cf">
			<h2 ng-show="add.tId==0" class="float"><a ng-href="#/summary/{{add.userId}}"><span class="glyphicon glyphicon-chevron-left"></span></a></h2>
		
			<h2 ng-show="add.tId==1" class="float"><a ng-href="#/detail/{{add.transactId}}"><span class="glyphicon glyphicon-chevron-left"></span></a></h2>

			<h2 ng-show="add.tId==0">Agregar Movimiento</h2>
			<h2 ng-show="add.tId==1">Actualizar Movimiento</h2>
		</div>

		<div class="newTransat-add posit-rel">
			<h4 class="text-center error">{{add.info}}</h4>
			<form name="addTransactForm" ng-submit="addTransactForm.$valid && add.addTransact()" novalidate>
				<div class="form-group">
					<sub ng-show="addTransactForm.name.$invalid && addTransactForm.name.$touched">Fecha requerifa</sub>
					<label>Fecha:</label><input type="date" name="date" ng-model= "add.newTransat.date" required ng-model-options="{ updateOn:'blur'}" class="form-control">
				</div>
				<div class="form-group">
					<sub ng-show="addTransactForm.amount.$invalid && addTransactForm.amount.$touched">Monto es requerido</sub>
					<label>Monto:</label><input type="number" name="amount" ng-model= "add.newTransat.amount" required ng-model-options="{debounce:200}" class="form-control" placeholder="1000000.00">
				</div>
				<div class="form-group">
					<label>Detalle:</label><input type="text" name="detail" ng-model= "add.newTransat.detail" ng-model-options="{debounce:200}" class="form-control" placeholder="Detalles de la transacción">
				</div>
				<div class="form-group">
					<label>Comercio:</label><input type="text" name="shop" ng-model= "add.newTransat.shop" ng-model-options="{debounce:200}" class="form-control" placeholder="Comercio o persona relacionada">
				</div>
				<div class="form-group">
					<sub ng-show="addTransactForm.type.$invalid && addTransactForm.type.$touched">Escoja un tipo de transacción</sub>
					<label>Tipo:</label>
					<select name="type" id="sltTypeTrans" ng-model="add.newTransat.transactType" required ng-model-options="{debounce:200}" class="form-control control50">
						<option value="">--Seleccione--</option>
						<option value="Débito">Débito</option>
						<option value="Crédito">Crédito</option>
					</select>
				</div>

				<!-- botones de la vista crear -->
				<button type="submit" ng-disabled="addTransactForm.$invalid" class="btn app-btn gradient btn50 btn-mrg" ng-show="add.tId==0"><span class="glyphicon glyphicon-ok"></span> Crear</button>
				
				<a ng-href="#/summary/{{add.userId}}" ng-show="add.tId==0" class="btn btn-warning btn50 btn-mrg"><span class="glyphicon glyphicon-remove"></span>  Cancelar</a>
		
				<!-- botones de la vista editar -->
				<button type="button" ng-disabled="addTransactForm.$invalid" class="btn app-btn gradient btn50 btn-mrg" ng-show="add.tId==1" ng-click="add.edit()"><span class="glyphicon glyphicon-ok"></span> Actualizar</button>

				<a ng-href="#/detail/{{add.transactId}}" ng-show="add.tId==1" class="btn btn-warning btn50 btn-mrg"><span class="glyphicon glyphicon-remove"></span>  Cancelar</a>
			</form>
			
			<div class="addModal post-abs" ng-show="add.showModal">
				<div class="width70">
					<h3 class="text-center margin-modal">Transacción creada con éxito</h3>
					<div class="margin-modal">
						<button type="button" class="btn app-btn gradient btn50 btn-mrg" ng-click="add.addMore()">Seguir agregando</button>
						<button type="button" class="btn btn-warning btn50 btn-mrg" ng-click="add.back()">Volver</button>
					</div>
				</div>
			</div><!-- addModal post-abs -->

			<div class="addModal post-abs" ng-show= "add.editModal">
				<h3 class="text-center margin-modal2">{{add.editInfo}}</h3>
			</div>
			
		</div> <!-- addHeader -->
	</section> <!-- main-list -->
</div> <!-- main-col -->


