<div class="col-lg-10 col-md-9 col-sm-12 center-block floatNone posit-rel">
	
	<div class="loadModal post-abs" ng-if="add.isLoading">
		<div class="text-center verticalCenter"><p>Loading...</p><img src="front-end/img/loader/loader5.gif" width="50" height="50"></div>
	</div>

	<section class="add-trans gray-border" ng-if="!add.isLoading">

		<div class="detail-header cf">
			<h2 ng-show="add.tId==0" class="float"><a ng-href="#/summary/{{add.userId}}"><span class="glyphicon glyphicon-chevron-left"></span></a></h2>
		
			<h2 ng-show="add.tId==1" class="float"><a ng-href="#/detail/{{add.transactId}}"><span class="glyphicon glyphicon-chevron-left"></span></a></h2>

			<h2 ng-show="add.tId==0">Agregar Movimiento</h2>
			<h2 ng-show="add.tId==1">Actualizar Movimiento</h2>
		</div>

		<div class="newTransat-add posit-rel">
			<h4 class="text-center error">{{add.info}}</h4>
			<form name="addTransactForm" ng-submit="addTransactForm.$valid && add.checkOper(); addTransactForm.$setPristine(); addTransactForm.$setUntouched()" novalidate>
				<div class="form-group">
					<sub ng-show="addTransactForm.date.$invalid && addTransactForm.date.$touched">Fecha requerida</sub>
					<label>Fecha:</label><input type="date" name="date" ng-model= "add.newTransat.date" ng-model-options="{ updateOn:'blur'}" class="form-control" required>
				</div>
				<div class="form-group">
					<sub ng-show="addTransactForm.amount.$invalid && addTransactForm.amount.$touched">Monto es requerido</sub>
					<label>Monto:</label><input type="number" name="amount" ng-model= "add.newTransat.amount" required ng-model-options="{debounce:200}" class="form-control" placeholder="1000000.00">
				</div>
				<div class="form-group">
					<sub ng-show="addTransactForm.detail.$invalid && addTransactForm.detail.$touched">Descripción es requerida</sub>
					<label>Descripción:</label><input type="text" name="detail" ng-model= "add.newTransat.detail" required ng-model-options="{debounce:200}" class="form-control" placeholder="Detalles de la transacción">
				</div>
				<div class="form-group">
					<sub ng-show="addTransactForm.type.$invalid && addTransactForm.type.$touched">Escoja un tipo de transacción</sub>
					<label>Tipo:</label>
					<select name="type" id="sltTypeTrans" ng-model="add.newTransat.transactType" required ng-model-options="{debounce:200}" class="form-control control50">
						<option value="">--Seleccione--</option>
						<option value="Débito">Débito</option>
						<option value="Crédito">Crédito</option>
					</select>
				</div>
				
				<!-- botones de la vista crear -->
				<div class="row">
					<div class="col-sm-6 col-xs-12 form-group">
						<button type="submit" ng-disabled="addTransactForm.$invalid" class="btn app-btn gradient btn50 btn-mrg" ng-show="add.tId==0"><span class="glyphicon glyphicon-ok"></span> Crear</button>
					</div><!-- col-sm-6 col-xs-12 form-group -->
					<div class="col-sm-6 col-xs-12 form-group">
						<a ng-href="#/summary/{{add.userId}}" ng-show="add.tId==0" class="btn btn-warning btn50 btn-mrg"><span class="glyphicon glyphicon-remove"></span>  Cancelar</a>
					</div><!-- col-sm-6 col-xs-12 form-group -->
				</div><!-- row -->
				
				<!-- botones de la vista editar -->
				<div class="row">
					<div class="col-sm-6 col-xs-12 form-group">
						<button type="submit" ng-disabled="addTransactForm.$invalid" class="btn app-btn gradient btn50 btn-mrg" ng-show="add.tId==1"><span class="glyphicon glyphicon-ok"></span> Actualizar</button>
					</div><!-- col-sm-6 col-xs-12 form-group -->
					<div class="col-sm-6 col-xs-12 form-group">
						<a ng-href="#/detail/{{add.transactId}}" ng-show="add.tId==1" class="btn btn-warning btn50 btn-mrg"><span class="glyphicon glyphicon-remove"></span>  Cancelar</a>
					</div><!-- col-sm-6 col-xs-12 form-group -->
				</div><!-- row -->

		
			</form>
			
			<div class="addModal post-abs" ng-show="add.showModal">
				<div class="width70">
					<h3 class="text-center margin-modal">Transacción creada con éxito</h3>
					<div class="margin-modal">
						<button type="button" class="btn app-btn gradient btn50 btn-mrg" ng-click="add.addMore()">Seguir agregando</button>
						<button type="button" class="btn btn-warning btn50 btn-mrg" ng-click="add.back()">Volver</button>
					</div>
				</div>
			</div><!-- addModal post-abs -->

			<div class="addModal post-abs" ng-show= "add.editModal">
				<h3 class="text-center margin-modal2">{{add.editInfo}}</h3>
			</div>
			
		</div> <!-- addHeader -->
	</section> <!-- main-list -->
</div> <!-- main-col -->


