<div class="center-block col-md-12 col-lg-12 floatNone">
	<section class="transDetail gray-border posit-rel">
		<div class="detail-header cf">
			<h2 class="float"><a ng-href="#/summary/{{detail.userId}}"><span class="glyphicon glyphicon-chevron-left"></span></a></h2>
			<h2 class="float detail-h2">Detalle de la transacción</h2>
		</div>

		<h4>A continuación el detalle de la transacción realizada el día {{detail.transact.date | date: 'EEE - d/MMM/yy'}}</h4>
		<h4 class="error text-center">{{detail.error}}</h4>

		<table class="table table-striped tdetail">
			<tbody>
				<tr>
					<td>Id</td>
					<td class="overfhidden tiny">{{detail.transact.transactId}}</td>
				</tr>
				<tr>
					<td>Tipo</td>
					<td>{{detail.transact.transactType}}</td>
				</tr>
				<tr>
					<td>Comercio</td>
					<td>{{detail.transact.shop}}</td>
				</tr>
				<tr>
					<td>Detalle</td>
					<td>{{detail.transact.detail}}</td>
				</tr>
				<tr>
					<td>Monto</td>
					<td ng-show="detail.money=='colon'">{{detail.transact.amount | currency: '¢'}}</td>
					<td ng-show="detail.money=='euro'">{{detail.transact.amount | currency: '€'}}</td>
					<td ng-show="detail.money=='dolar'">{{detail.transact.amount | currency: '$'}}</td>
				</tr>
			</tbody>
		</table>

		<a ng-href="#/transact-edit/{{detail.userId}}/{{detail.transactId}}" class="btn app-btn gradient btn50 btn-mrg">Editar <span class="glyphicon glyphicon-edit"></span></a>

		<button ng-click="detail.delete()" class="btn btn-warning btn50 btn-mrg">Eliminar <span class="glyphicon glyphicon-trash"></span></button>

		<div class="addModal post-abs" ng-show="detail.showModal">
			<h3 class="text-center margin-modal2">{{detail.info}}</h3>
		</div>

		<div class="addModal post-abs" ng-show= "detail.confirmModal">
			<div class="width70">
					<h3 class="text-center margin-modal">Está seguro de que desea eliminar la transacción?</h3>
					<div class="margin-modal">
						<button type="button" class="btn app-btn gradient btn50 btn-mrg" ng-click="detail.cancelDelete()">Cancelar</button>
						<button type="button" class="btn btn-warning btn50 btn-mrg" ng-click="detail.deleteTransact()">Eliminar</button>
					</div>
				</div>
		</div> <!-- modal -->

	</section>
</div> <!-- main-col -->

