<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12">
	<section class="add-acount gray-border gray-bg posit-rel">
		<h2 ng-show="newAcc.tId==0">Registar Cuenta</h2>
		<h2 ng-show="newAcc.tId==1">Editar Cuenta</h2>

		<h4 class="text-center" ng-show="newAcc.tId==0">{{newAcc.info}}</h4>
		<h4 class="text-center" ng-show="newAcc.tId==1">{{newAcc.editInfo}}</h4>
		

		<div class="newAcc-add">
			<form name="newAccForm" ng-submit="newAccForm.$valid" novalidate>
				<div class="form-group display-inline div50">
					<sub ng-show="newAccForm.name.$invalid && newAccForm.name.$touched">El nombre es requerido</sub>
					<label>Nombre:</label><input type="text" name="name" ng-model= "newAcc.newAccount.name" required ng-model-options="{debounce:200}" class="form-control">
				</div>
				<div class="form-group display-inline div50">
					<sub ng-show="newAccForm.lastName.$invalid && newAccForm.lastName.$touched">El apellido es requerido</sub>
					<label>Apellido:</label><input type="text" name="lastName" ng-model= "newAcc.newAccount.lastName" required ng-model-options="{debounce:200}" class="form-control">
				</div>
				<div class="form-group">
					<sub ng-show="newAccForm.username.$invalid && newAccForm.username.$touched">El usuario es requerido</sub>
					<label>Nombre de usuario:</label><input type="text" name="username" ng-model="newAcc.newAccount.username" required ng-model-options="{debounce:200}" class="form-control" placeholder="nickname">
				</div>
				<div class="form-group display-inline div50">
					<sub ng-show="newAccForm.pass.$error.required && newAccForm.pass.$touched">Contraseña requerida</sub>
					<sub ng-show="newAccForm.pass.$error.minlength && newAccForm.pass.$touched">Mínimo 6 caracteres</sub>
					<label for="password">Contraseña:</label><input type="password" id="password" name="pass" ng-model= "newAcc.newAccount.pass" ng-minlength="6" required placeholder="Minimo 6 caracteres" class="form-control">
				</div>
				<div class="form-group display-inline div50">
					<sub ng-show="newAccForm.repeatPass.$invalid && newAccForm.repeatPass.$touched">Contraseñas deben coincidir</sub>
					<label>Repetir contraseña:</label><input type="password" name="repeatPass" ng-model= "newAcc.newAccount.repeatPass" ng-minlength="6" required compare-to="newAccount.repeatPass != newAccount.pass ? 'Passwords don\'t match' : ''" class="form-control">
				</div> 

				<div class="form-group display-inline div50">
					<sub ng-show="newAccForm.money.$invalid && newAccForm.money.$touched">Escoja un tipo de moneda</sub>
					<label>Moneda:</label>
					<select name="money" id="sltMoney" ng-model="newAcc.newAccount.money" required class="form-control control50">
						<option value="">--Seleccione--</option>
						<option value="colon">Colones</option>
						<option value="dolar">Dólares</option>
						<option value="euro">Euros</option>
					</select>
				</div>
				<div class="form-group display-inline div50">
					<sub ng-show="newAccForm.type.$invalid && newAccForm.type.$touched">Escoja un tipo de cuenta</sub>
					<label>Tipo:</label>
					<select name="accountType" id="sltType" ng-model="newAcc.newAccount.accountType" required class="form-control control50">
						<option value="">--Seleccione--</option>
						<option value="corriente">Corriente</option>
						<option value="ahorros">Ahorros</option>
					</select>
				</div>
				
				<!-- botones para crear la cuenta -->
				<button ng-show="newAcc.tId==0" type="submit" class="btn app-btn gradient btn50 btn-mrg"><span class="glyphicon glyphicon-ok"></span> Crear</button>

				<a ng-show="newAcc.tId==0" ng-click="newAcc.cancel()" ng-href="#/" class="btn btn-warning btn50 btn-mrg" ng-show="1==1" ><span class="glyphicon glyphicon-remove"></span>  Cancelar</a>

				<!-- botones para editar la cuenta -->
				<button ng-show="newAcc.tId==1" ng-click="newAcc.edit()" class="btn app-btn gradient btn50 btn-mrg"><span class="glyphicon glyphicon-edit"></span> Editar</button>

				<button ng-show="newAcc.tId==1" ng-click="newAcc.cancelEdit()" class="btn btn-warning btn50 btn-mrg" ng-show="1==1" ><span class="glyphicon glyphicon-remove"></span>  Cancelar</button>
			</form>
			
		</div> <!-- addHeader -->

		<div class="addModal post-abs" ng-show= "newAcc.showModal">
			<h3 class="text-center margin-modal2">{{newAcc.modalInfo}}</h3>
			<h3 class="text-center margin-modal2">{{newAcc.updateInfo}}</h3>
		</div>

	</section> <!-- main-list -->
</div> <!-- main-col -->


