<div class="center-block col-md-12 col-lg-12 floatNone" ng-cloak>
	<section class="accountDetail gray-border">
		<h2>{{summary.welcome}}</h2>

		<h4 class="error text-center">{{summary.error}}</h4>

		<div ng-show="summary.displayElements">
			<div class="center-block floatNone">
				<h4 class="marginbotton40" ng-show="summary.showElements">Estos son sus últimos movimientos en su cuenta {{summary.accountType}}</h4>
			</div>
			
			<div ng-hide="summary.showElements" class="center-block floatNone text-center div-info">
				<h3>No hay movimientos en su cuenta</h3>
				<a ng-href="#/add/{{summary.userId}}" class="btn app-btn gradient btn50 btn-mrg">Agregar Movimientos</a>
			</div>
		</div>

		<table class="table table-striped" ng-if="summary.showElements">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Tipo</th>
					<th>Comercio</th>
					<th>Monto</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>	
				<tr ng-repeat="transact in summary.userTransacts | orderBy:transact.date track by $index">
					<td>{{transact.date | date: 'd/MMM/yy'}}</td>
					<td>{{transact.transactType}}</td>
					<td>{{transact.shop}}</td>
					<td ng-show="summary.money=='colon' || summary.money=='colones'">{{transact.amount | currency: '¢'}}</td>
					<td ng-show="summary.money=='euro' || summary.money=='euros'">{{transact.amount | currency: '€'}}</td>
					<td ng-show="summary.money=='dolar' || summary.money=='dolares'">{{transact.amount | currency: '$'}}</td>
					<td><a href="#/detail/{{transact.transactId}}">Detalles <span class="glyphicon glyphicon-chevron-right"></span></a></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3">Saldo disponible</td>
					<td colspan="2" ng-show="summary.money=='colon'">{{summary.balance | currency: '¢'}}</td>
					<td colspan="2" ng-show="summary.money=='euro'">{{summary.balance | currency: '€'}}</td>
					<td colspan="2" ng-show="summary.money=='dolar'">{{summary.balance | currency: '$'}}</td>
				</tr>	
			</tfoot>
		</table>

	</section>
</div> <!-- main-col -->
